# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv(
        '/Users/macbookair/Yandex.Disk.localized/01_Data_analyst/GitHub/DA_yandex_project_datasets/02_data.csv'
    )
    data_1 = data.copy()
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для ответа на этот вопрос сформируем сводную таблицу методом `data_pivot` 

`data_pivot=data.pivot_table(index=['column1','column2'],columns='source', values = 'column_pivot', aggfunc = 'function')`, где `index` - столбец или столбцы, по которым происходит группировка данных # columns - столбец по значениям которого будет происходить группировка
`values` - значения, по которым мы хотим увидеть сводную таблицу
`aggfunc` - функция, которая будет применяться к значениям

В параметр `aggfunc` добавим список `{'count','sum','mean'}`. Отношение заемщиков с проскрочкой к общему колличеству заемщиков в данной категории (категории кол-ва детей) отразит функция `'mean'`. В данной ситации `'count','sum'` можно не использовать, но всеравно отражу для наглядности.

In [22]:
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc={'count','sum','mean'}) #Формируем сводную таблицу
data_pivot_children['mean'] = round(data_pivot_children['mean'] * 100, 1) #столбец `mean` приводим к %, и округляем до 1 знака после запятой.
data_pivot_children.columns = ['Всего кредитополучателей', 'Доля должников', 'Всего должников']
data_pivot_children #Выводим на экран

          Всего кредитополучателей  Доля должников  Всего должников
children
0                          14091.0             7.5           1063.0
1                           4808.0             9.2            444.0
2                           2052.0             9.5            194.0
3                            330.0             8.2             27.0
4                             41.0             9.8              4.0
5                              9.0             0.0              0.0

**Вывод:** Однозначно могу сказать что нет никакой закономерности в том, что чем больше детей, тем больше/меньше просроченных задолженностей. Данные находятся в коротком диапазоне в 2,3% (от min до max показателя). По заемщиков с 5-ю детьми, нельзя сказать что в этой категории абсолютно никогда не бывает просрочек. Слишком малая выборка из 9 заемщиков. Говорит о том, что у нас мало многодетных семей с 5ю детьми. Например если добавится 10й заемщик с просрочкой, показатели `mean` сразу станет 10%.

Принял

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_pivot_family_stat = data.pivot_table(index='family_status', values='debt', aggfunc={'mean','count'}) # Формируем сводную таблицу
data_pivot_family_stat['mean'] = round(data_pivot_family_stat['mean'] * 100, 1) # Приводим к показателю % для сравнения
data_pivot_family_stat.columns = ['Всего кредитополучателей', 'Доля должников']

data_pivot_family_stat.sort_values(by='Доля должников', ascending=False) #Выводим на экран, с сортировкой % по убыванию

                       Всего кредитополучателей  Доля должников
family_status
Не женат / не замужем                    2796.0             9.8
гражданский брак                         4134.0             9.3
женат / замужем                         12261.0             7.6
в разводе                                1189.0             7.1
вдовец / вдова                            951.0             6.6

**Вывод:** 
- Лидируют по колличествам просрочек холостые заемщики и заемщики в гражданском браке. Эти люди вероятно менее ответсвенно относятся к своей жизне и к финансовому планированию. Конечно тут стоит еще посмотреть в разрезе детей (есть дети/нет детей)
- в браке как и в разводе, люди более ответственны.
- вдовец/вдова с виду кажется самым надежным заемщиком, но нужно более глубже понимать что из себя представляет эта категория. Могу предположить что в этой категории много возрастных клиентов, которые редко обращаются за кредитами и как правило имеют четкие правила по управлению своими финансами

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

По уровню дохода мы выделяли 5 категорий:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [24]:
data_pivot_total_incom = data.pivot_table(index='total_income_category', values='debt', aggfunc={'mean','count'})
data_pivot_total_incom['mean'] = round(data_pivot_total_incom['mean'] * 100, 1)
data_pivot_total_incom.columns = ['Всего кредитополучателей', 'Доля должников']
data_pivot_total_incom.sort_values(by='Доля должников', ascending=False)

                       Всего кредитополучателей  Доля должников
total_income_category
E                                          22.0             9.1
C                                       15921.0             8.5
A                                          25.0             8.0
B                                        5014.0             7.1
D                                         349.0             6.0

**Вывод:** 
- Самые рискованные заемщики это группа `Е` . Это категория с самым низким уровнем дохода, или вообще без него.
- Меньше всего рисков у группы `D`. Это средний уровень дохода, средниц класс. Скорее всего Бюджетники.
- Заемщики с доходом от 50тр и выше, почти не имеют заивисимости от доли должников.

Выведем дополнительно в таблицу информацию какую долю по категориям занимае количество заемщиков от общей выборки. Назовем колонку: `'доля кредитополучатетей'`

In [25]:
data_pivot_total_incom['доля кредитополучатетей'] = round(data_pivot_total_incom['Всего кредитополучателей'] / data_pivot_total_incom['Всего кредитополучателей'].sum() * 100, 1)
data_pivot_total_incom

,Всего кредитополучателей,Доля должников,доля кредитополучатетей
total_income_category,,,
A,25.0,8.0,0.1
B,5014.0,7.1,23.5
C,15921.0,8.5,74.6
D,349.0,6.0,1.6
E,22.0,9.1,0.1

Основная масса 98%, и состоит из заемщиков с доходом от 50 000 до 1 000 000 руб. Принимая тот факт, что по категориям E, A, D, мало данных, вывод сделаем по крупным категориям B, C.

**Вывод доработка:** 
- В сравнении двух категрий, можно сказать что люди с доходом 200тр - 1 000тр., категория `B` Более благонадежны. Выдавать кредит им менее рискованно чем категории с доходом 50 000 - 200 000р. Это и понятно - людям с хорошим доходом банки готовы предоставлять кредиты по более нихким ставкам.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
data_pivot_purpose_category = data.pivot_table(index='purpose_category', values='debt', aggfunc={'mean','count'})
data_pivot_purpose_category['mean'] = round(data_pivot_purpose_category['mean'] * 100, 1)
data_pivot_purpose_category.columns = ['Всего кредитополучателей', 'Доля должников']
data_pivot_purpose_category.sort_values(by='Доля должников', ascending=False)

                          Всего кредитополучателей  Доля должников
purpose_category
операции с автомобилем                      4279.0             9.3
получение образования                       3988.0             9.3
проведение свадьбы                          2313.0             7.9
операции с недвижимостью                   10751.0             7.3

**Вывод:** 
- Операции с недвижимостью менее рискованные, ввиду этого банки дают процент ниже на ипотеку, отчасти от того что ставят обременение на недвижимость. А вот выдача кредита на покупку авто и на образование - самый рискованные по доле должников.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в данных возникли у части заемщиков. При этом у них одновременно отсутствует информация о трудовом стаже и ежемесячном доходе. Вероятно по этим заемщикам, данные о работе хранятся в отдельном дата сете.

*Ответ исправление:* Пропуски в данных возникли у части заемщиков. При этом у них одновременно отсутствует информация о трудовом стаже и ежемесячном доходе. Возможные причины:
- Вероятно по этим заемщикам, данные о работе хранятся в отдельном дата сете, который просто небыл открыт или передан.
- Клиенты могли не предоставить данные (хотя маловероятно, на каждую заявку по кредиту или ипотеке составляется анкета, без этой анкеты аявка не пойдет на адрерайтинг - исключения (кредитные карты)
- Техническая ошибка при выгрузке
- Ошибка человека при выгрузке (неправильный запрос, фильтр, объединенные таблицы)

Чтобы утверждать, что пропуски в 'total_income' и 'days_employed' находятся на одних строках, можно это проверить:

In [27]:
len(data_1.loc[(data_1['days_employed'].isna()) & (data_1['total_income'].isna())])

2174

Значений 2174, что совпадает со значениями пропусков в обоих столбцах по отдельности.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства. Если взять пример с уровнем дохода: В выборке может появиться один очень богатый олигарх, и средняя окажется очень заышенной. Медианные значения не исказят картину при заполнении пропусков, и при этом оставят важные для нас значения.

### Шаг 4: общий вывод.

<div style="border:solid purple 2px; padding: 20px"> 
<b> <font color='blue' >  
    
#### Гипотезы:
1. Количество детей по разному отражается на возврат кредита в срок
2. Семейное положение по разному отражается на возврат кредита в срок
3. Уровень дохода по разному отражается на возврат кредита в срок
4. Цель кредита по разному отражается на возврат его в срок

####  Проверка гипотез и вывод
1. Однозначно могу сказать что нет явной закономерности в том, что чем больше детей, тем больше/меньше просроченных задолженностей. Но стоит отметить, что заемщики без детей - более надежные. 
2. Самые рискованные - холостые заемщики и заемщики в гражданском браке. Эти люди вероятно менее ответсвенно относятся к своей жизне и к финансовому планированию. Самые надежные в браке как и в разводе.
3. Рассмотрели выборку людей с доходом 50 000р до 1млн. Этот уровень дохода составляет 98% от общей выборки. Анализ показал что заемщики которые имеют уровень дохода от 200тр до 1млн. Наиболее надежны. Но сильного различия нет. Благонадежность в меньшей степени зависит от уровня дохода.
4. Ипотечные кредиты менее рискованны. Обратная ситуация с покупкой автомобиля или образованием.


#### Доработать более досканально
1. Посмотреть категоризацию `заемщики без детей` - `тип дохода (income_type)` 
2. Посмотреть категоризацию `семейное положение` `дети` 
3. Сделать больше категорий по доходу. И Посмотреть глубже по категориям дохода + кол-во детей.

#### Идеальный портрет клиента имеют следующие критерии
- В браке или разведен
- Не имеет детей
- Доход от 200 000р.
- Кредит на покупку недвижимости.
- Не имеет просрочек по прошлы кредитам.

#### Предлагаю посмотреть:
1. Вывести совокупный доход на одного члена семьи (сумму дохода разделить:
    - на 2 + кол.во детей (если в браке)
    - на кол.во детей если иное
   Разделить совокупный доход на категории и посмотреть в разрезе этих категорий % просроченных выплат.
    
</font></b>
</div>